body {
	background: #000000;
	background-image: url('https://steamuserimages-a.akamaihd.net/ugc/784109908362119236/F55FFAA1DF7194B97A4A526D5CFEE1427187D779/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
	background-size: cover;
	font-family: 'Trebuchet ms';

}	


.Social {
	color: #FFFFFF;
	font-style: italic;
	text-align: right;
	font-size: 30px;
}

.Discord {
	color: #FFFFFF;
	font-style: italic;
	text-align: right;
}

.Telegram {
	font-style: italic;
	text-align: right;
}

.Description {
	color: #FFFFFF;
	font-style: italic;
	text-align: right;
}

.Hobbies {
	color: #FFFFFF;
	font-style: italic;
	text-align: right;
}

.Services {
	color: #FFFFFF;
	font-style: italic;
	text-align: right;
}

.ComingSoon {
	color: #FFFFFF;
	font-style: italic;
	text-align: right;
}
